/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

général
formulaire menu
formulaire axe
formulaire liste
formulaire modif
modifier formulaire
modif ajout
ZDC
------------------ */

/* -- général -- */
body.menumodifbas {
background-color:#cac3b1;
border-top:#000 solid 1px;
padding:2px 7px;
text-align:right;
}

a:link,a:visited,a:active {
color:#3f4322;
text-decoration:none;
}

a:hover {
color:#3f4322;
text-decoration:underline;
}

form {
margin:0;
padding:0;
}

form.formFormulaire {
background-color:#f9fbfb;
border:#dce6e6 dotted 1px;
line-height:1.2em;
padding:7px;
-moz-border-radius:5px;
}
* html form.formFormulaire {
width:100%;
}

fieldset {
border:#d0d0bf solid 1px;
color:#6f6957;
margin:8px 1px;
}

img {
border:0;
}

label {
color:#6f6957;
}

legend {
color:#994959;
font-weight:bold;
}

#entete {
background-color:#aea58a;
border-top:#000 solid 1px;
border-bottom:#000 solid 1px;
height:25px;
left:0;
margin:0;
padding:0;
position:fixed;
top:0;
width:100%;
z-index:1;
}

* html #entete {
position:absolute;
}

#entete h3 {
font-size:.9em;
font-weight:bold;
margin:0;
padding:5px;
}

#titrepagevierge {
padding:10% 7px 7px;
text-align:center;
width:99%;
}

#titrepagevierge img {
border:0;
display:block;
margin:2px auto;
padding-bottom:5px;
}

#ute {
display:block;
margin:2px auto;
padding-bottom:5px;
padding-top:25px;
}

#valider_global {
float:left;
margin:5px 5px 0;
}

#fermer_global {
float:right;
margin:5px 5px 0;
}
/* ----- */

/* -- formulaire menu -- */
body.formulaire_menu {
background:url('../../esprit/pixel_noir.gif') repeat-y fixed top right;
}

body.formulaire_menu p {
margin:0;
}

body.formulaire_menu .bloc {
background-color:#6f6957;
margin:5px 3px 12px;
padding:2px;
text-align:center;
}

body.formulaire_menu .bloc select {
background-color:#e7e1d4;
}

body.formulaire_menu .bloc h3 {
color:#fafafa;
font-size:1em;
font-weight:bold;
margin:0;
padding:2px 0;
}

body.formulaire_menu .bloc .nom {
background-color:#e7e1d4;
margin:1px 0;
padding:4px 0;
}

body.formulaire_menu .bloc .liens {
background-color:#cac3b1;
padding:4px 0;
}

body.formulaire_menu .bloc .liens a {
font-size:.85em;
}

body.formulaire_menu .listeForm {
border:#000 solid 1px;
width:100%;
}
/* ----- */

/* -- formulaire axe -- */
html {
height:100%;
/* \*/overflow:hidden;/**/
}

body.formulaire_axe {
background-color:#fdf9ee;
color:#000;
height:100%;
width:100%;
}

body.formulaire_axe h1 {
color:#222;
font-size:1.25em;
text-align:center;
text-decoration:underline;
}

#piedpage a:link,#piedpage a:visited,#piedpage a:hover {
color:#fff;
font-size:.85em;
font-weight:bold;
}

#principal {
height:88%;
margin:0;
overflow:auto;
padding:7px;
}

#piedpage {
background-color:#aea58a;
border-top:#000 solid 1px;
height:10%;
margin:0;
padding:0 10px;
text-align:center;
vertical-align:center;
}

#gestion {
display:block;
margin-top:5px;
}
/* ----- */

/* -- formulaire liste -- */
body.liste .titre {
font-size:1.4em;
font-weight:bold;
width:100%
}
body.liste td[name=encadrer] {
border:1px solid black;
text-align:center;
}

body.liste td[name=radio] {
padding:3px;
width:30%;
}

body.liste input,body.liste select {
margin:0 5px;
}
/* ----- */

/* -- formulaire modif -- */
body.formulaire_modif {
background:#e7e1d4 url('../../esprit/pixel_noir.gif') repeat-x fixed top left;
height: 90%;
}

.feedback_formmodif {
margin:10px 0 10px 93px;
}

.poidsaxe {
margin:5px 0;
padding:1px 1px 1px 100px;
}

.sepproprep {
background-color:#d0d0bf;
border:0;
color:#d0d0bf;
height:1px;
margin:10px 0 20px;
width:99%;
}

#bloczonerep {
background-color:#f1ebde;
border:#bcbcab solid 1px;
color:#994959;
font-weight:bold;
text-align:center;
vertical-align:middle;
}

#conteneur {
padding:33px 5px 0;
}

#zoneenonce,#zonempsep,#zonereponse,#zoneproposition {
padding:4px 4px 4px 14px;
margin:15px 0;
}

#zoneenonce label {
vertical-align:top;
}

#zonereponse ul,#zoneproposition ul {
margin:0;
padding:0;
}

#zoneenonce ul,#zonempsep ul,#alignrep {
display:block;
margin:2px;
text-align:right;
}

#zonereponse li,#zoneproposition li {
list-style:none none;
margin:0 0 7px;
padding:0;
}

#zoneenonce li,#zonempsep li,#alignrep li {
display:inline;
list-style:none;
margin:0;
padding:3px 7px;
}

#calcul {
margin:4px 0 0 17px;
}

#calcul dd {
font-size:.8em;
}

#options {
margin:0;
padding:0;
}

#options li {
list-style:none;
margin:5px 0;
}
/* ----- */

/* -- modifier formulaire -- */
body.modifier_formulaire {
padding:45px 0 0;
}

.corps {
position: absolute;
width: 99%;
height: 90%;
left:0;
bottom:30px;
overflow-y:auto;
}

#barreaction a:link,#barreaction a:visited,#barreaction a:hover {
color:#fff;
font-size:8pt;
font-weight:normal;
}
#barremenu a:link,#barremenu a:active,#barremenu a:visited,#barremenu a:hover,
#autocorrect a:link,#autocorrect a:active,#autocorrect a:visited,#autocorrect a:hover {
color:#fff;
font-size:.85em;
/*font-weight:bold;*/
}

body.modifier_formulaire input,body.modifier_formulaire select {
margin:0 5px;
}

.feedback {
margin : 10px 0 10px 93px;
}

.feedback p,.feedback_titre p {
margin:3px;
}

.feedback_titre {
background-color:#eeeadd;
border-right:none;
float:left;
margin:7px 0 0;
padding:0 3px 0 0;
text-align:center;
width:100px;
}

* html .feedback_titre {
margin-right:-3px;
}

.separhori {
border-top:#d5ccbd 1px solid;
}

.separvert {
border-right:#d5ccbd 1px solid;
}

.statut_ael {
color:#ff9732;
}

body.modifier_formulaire .titre {
font-size:1.4em;
font-weight:bold;
}

#barremenu {
background-color:#aea58a;
border-top:#000 solid 1px;
bottom:0;
margin:0;
left:0;
/*padding:4px 0;*/
position:fixed;
text-align:center;
position:fixed;
width:100%;
}

* html #barremenu {
position:static;
}

#entete h3 {
color:#fff;
}

#Etat,#Eval{
background-color:#fafafa;
border:#dee6e6 1px solid;
margin:20px 0 0;
padding:0;
-moz-border-radius-topleft:5px;
-moz-border-radius-bottomleft:5px;
}

#Etat {
float:right;
width:33%;
}

#Eval {
float:left;
width:63%;
}

#Eval h3,#Etat h3 {
background-color:#eeeadd;
border-bottom:#d5ccbd 1px solid;
color:#6f6957;
font-size:12px;
font-weight:bold;
margin:0;
padding:3px;
}

#Eval p,#Etat p {
margin:3px;
padding:0;
}

#fermer {
margin:0 10px;
}

#tab_etat {
border-collapse:collapse;
margin:0;
padding:0;
width:100%;
}

#tab_etat td {
margin:0;
padding:5px;
}

#tab_etat tr {
margin:0;
padding:0;
}
/* ----- */

/* -- modif ajout -- */
body.modif_ajout {
background-color:#e7e1d4;
}

#contenu {
padding-top:25px;
text-align:center;
}

#barreaction {
background-color:#aea58a;
border-top:#000 solid 1px;
bottom:0;
left:0;
height:22px;
position:absolute;
text-align:center;
width:100%;
}

#barreaction table {
width:100%;
}
/* ----- */

/* -- ZDC -- */
td.description_zdc {
background-color:#f9fbfb;
border:#dce6e6 none 2px;
border-top-style:solid;
border-bottom-style:solid;
}

div.consigne {
border:#cbcbcb none 1px;
border-top-style:dotted;
font-size:7pt;
font-style:italic;
margin:5px 0 0;
}

a.formulaire_base {
font-size:8pt;
color:#882525;
}

a.soumettre_passif {
font-size:7pt;
color:#c8c8c8;
}

a.soumettre {
font-size:7pt;
color:#882525;
}

a.exporter_donnees {
color:#970623;
}
/* ----- */