/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

profil
exporter personnes
importer personnes
associer personnes
Liste inscrits
liste cours

equipes
------------------ */

/* -- profil -- */
body.profil .intitule, body.profil .champs_obligatoires {
width:20%;
}

body.profil .intitule div {
text-align:right;
width:165px;
}

body.profil .largeur_fixe {
width:60%;
}

body.profil .largeur_fixe input, body.profil .largeur_fixe textarea {
width:100%;
}

span#id_erreur,body.profil .erreur {
color:#950623;
font-size:7pt;
height:100%;
}

body.profil .champs_obligatoires {
color:#ce6d0e;
font-size:7pt;
font-weight:bold;
}

.info_erreur{
position: absolute;	
visibility : hidden;
border: 1px solid Black;
padding: 10px;
font-family: Verdana, Arial;
font-size: 10px;
background-color: #AEA58A;
}
/* ----- */

/* -- exporter personnes -- */
.panneau {
background-color:#fafcfc;
border:#dee6e6 none 1px;
border-top-style:solid;
border-bottom-style:solid;
}

a.vider {
color:#e23420;
}

div.numero_position {
font-size:8pt;
text-align:center;
}
/* ----- */

/* -- importer personnes --*/
hr { margin:5ex 0; }

.importErreur, .importOK, .importAvert {font-weight:bold;}
	
.importErreur {
color:red;
}

.importOK, .importOKPetit, .importOKPetit1 {
color:green;
}

.importAvert, .importAvertPetit {
color:orange;
}

li{
border-bottom: thin solid #DFDFDF;
padding:2px;
}

#Block_Attente {
display : none;
text-align:center;
}

#Block_Form {
display : block;
} 
/* ----- */

/* -- associer personnes -- */
/*
table.liste_personnes td {
border:#EFEFEF none 1px;
border-bottom-style:solid;
}
*/
td.info {
text-align:center;
}

.SimpleContour {
border:#DFDFDF solid 1px;
}

.TitreFormation {
background-color:#749ACB;
color:#345A8B;
font-size:14pt;
font-weight:bold;
text-align:center;
}

.Filtre {
color:#366;
font-weight:bold;
vertical-align:middle;
}

body.associer_personnes select,body.associer_personnes option {
width:100%;
}

.Infos {
color:#345A8B;
font-weight:bold;
text-align:center;
}
/* ----- */

/* -- liste inscrits -- */
.personne {
border-style:none none dashed;
border-color:rgb(180, 180, 180);
border-width:1px;
padding:2px;
}
/* ----- */

/* -- liste cours -- */
span.auto_inscrit {
color:#CAC8BB;
}
/* ----- */

/* -- equipes -- */
td.dialog_logo {
text-align:right;
width:181px;
}

td.bloc_personne {
border:#f0f0f0 none 1px;
border-bottom-style:dashed;
}

div.dialog_titre_principal {
left:190px;
}

div.dialog_sous_titre {
left:5px;
}

.lien_passif {
color:#d2d2d2;
font-weight:normal;
text-decoration:none;
font-size:8pt;
}
/* ----- */