body { background-color: rgb(255,255,255); }
td.dialog_logo { width: 211px; }
div.dialog_titre_principal { left: 221px; }

td.titre_informations /* idem: td.cellule_sous_titre (globals.css) */
{
	background-image: none;
	background-color: rgb(174,186,187);
	color: #FFFFFF;
	font-weight: bold;
	border: rgb(162,170,170) none 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	font-size: 9pt;
	padding: 1px;
	text-align: right;
}
/*div.dialog_sous_titre {}*/
.participants { cursor: help; }

