.NouveauMessage { text-align: right; }
.Quitter {}
.Envoyer { text-align: right; }
.Remonter {}
.MenuGeneral {}
.NouveauForum { text-align: right; }
.NouveauSujet { text-align: right; }
.Valider { text-align: right; }
.Modifier { text-align: right; }
.Option { text-align: right; }
