body { background-image: none; background-color: rgb(236,233,216); }
h1 { background-color: rgb(49,106,197); border: rgb(31,82,126) solid 1px; color: rgb(255,255,255); font-size: 12pt; padding: 5px; }
h1 small { color: rgb(255,255,255); font-weight; normal; font-size: 8pt; }

table { background-color: rgb(240,240,240); border: rgb(127,157,185) solid 1px; padding: 0px; width: 100%; }
td { background-color: rgb(255,255,255); font-size: 8pt; }

