body.principal { background-color: rgb(255,255,255); }
body.personnes, body.membres { background-image: none; background-color: rgb(255,255,255); }

td.dialog_logo
{
	text-align: right;
	width: 181px;
}

div.dialog_titre_principal { left: 190px; }

div.dialog_sous_titre {	left: 5px; }

.lien_passif
{
	color: rgb(210,210,210);
	font-weight: normal;
	text-decoration: none;
	font-size: 8pt;
}