body { background-image: none; }
.panneau { background-color: rgb(250,252,252); border: rgb(222,230,230) none 1px; border-top-style: solid; border-bottom-style: solid; }
a.vider { color: rgb(226,52,32); }
div.numero_position { font-size: 8pt; text-align: center; }
