body {
	font-family: Verdana,Tahoma,Arial,Bitstream Vera Sans,Time;
	font-size: 9pt;
	background-color: rgb(255,255,255);

	/* Pour Internet Explorer >= 5.5 Changer les couleurs des barres de défilements */
	scrollbar-face-color: rgb(231,225,212);
	scrollbar-highlight-color: rgb(251,249,238);
	scrollbar-shadow-color: rgb(251,249,238);
	scrollbar-3dlight-color: rgb(251,249,238);
	scrollbar-arrow-color: rgb(174,166,138);
	scrollbar-track-color: rgb(251,249,238);
	scrollbar-darkshadow-color: rgb(251,249,238);
}

img { border: 0; }

legend { font-size: 8pt; }

iframe { border: rgb(222,230,230) solid 1px; }

h1 { color: #222222; font-size: 16pt; font-weight: bold; }
h2 { color: #222222; font-size: 14pt; font-weight: bold; }
h3 { color: #222222; font-size: 13pt; font-weight: bold; }
h4 { color: #222222; font-size: 12pt; font-weight: bold; }
h5 { color: #222222; font-size: 11pt; font-weight: bold; }
h6 { color: #222222; font-size: 10pt; font-weight: bold; }

th {
	background-color: rgb(238,234,221);
	border: rgb(238,234,221) solid 1px;
	border-top-color: rgb(255,255,255);
	border-bottom-color: rgb(202,195,177);
	color: rgb(111,105,87);
	font-weight: normal;
	font-size: 9pt;
	text-align: center;
	padding: 1px;
}

th.surbrillance {
	background-color: rgb(224,232,246); border-bottom-color: rgb(204,102,0); color: rgb(31,82,126);
}

textarea, input
{
	font-family: Verdana,Tahoma,Arial,Time;
	font-size: 10pt;
	font-weight: normal;
}

.texte_grise { color: rgb(200,200,200); }
small { font-size: 7pt; }
/* Lien */
a { color: rgb(63,67,34); font-size: 8pt; text-decoration: none; }
a:hover { text-decoration: underline; }
.lien_passif { color: rgb(202,195,177); font-size: 9pt; font-weight: normal; text-decoration: none; }

.attention { color: rgb(180,115,58); font-weight: bold; }
div.attention { text-align: center; background-color: rgb(236,233,216); border: rgb(174,165,138) dashed 2px; padding: 5px; width: 90%; }
td.attention { text-align: center; background-color: rgb(236,233,216); border: rgb(174,165,138) dashed 2px; padding: 5px; }
.afficher_curseur_aide { cursor: help; font-size: 10pt;}

.intitule_principal
{
	color: rgb(0,0,0);
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	padding: 1px;
}

/* Tableau */
.ligne_surlignee { background-color: rgb(253,249,238); cursor: pointer; }
.ligne_normale { background-color: rgb(255,255,255); cursor: auto; }

td.cellule_titre_principal
{
	color: rgb(0,0,0);
	font-size: 13pt;
	font-weight: bold;
	padding: 1px;
}

div.cellule_sous_titre, td.cellule_sous_titre, td.cellule_sous_titre_surbrillance
{
	background: rgb(238,234,221) none repeat-x top left;
	border: rgb(213,204,189) none 1px;
	border-style: none;
	border-bottom-style: solid;
	border-top-color: rgb(255,255,255);
	border-top-style: solid;
	color: rgb(111,105,87);
	font-weight: normal;
	font-size: 9pt;
	text-align: center;
	padding: 1px;
}

td.cellule_clair, td.cellule_fonce, td.cellule_surbrillante
{
	background-image: none;
	color: rgb(94,90,75);
	font-size: 9pt;
	padding: 3px;
}

td.cellule_clair, td.cellule_clair_fonce, td.cellule_surbrillante
{
	background-color: rgb(250,250,250);
	border: rgb(240,240,240) none 1px;
	border-top-style: solid;
	font-size: 9pt;
	border-bottom-style: solid;
}

td.cellule_surbrillante
{
	background-color: rgb(207,224,230);
	border: rgb(122,151,178) none 1px;
	border-top-style: solid;
	border-bottom-style: solid;
}

td.cellule_clair_fonce
{
	background-color: rgb(240,240,240);
}

td.cellule_fonce
{
	background-color: rgb(255,255,255);
	border: rgb(240,240,228) none 1px;
	border-top-style: solid;
	border-bottom-style: solid;
}

td.cellule_description
{
	background-image: none;
	background-color: rgb(250,250,250);
	border: rgb(240,240,228) none 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	color: rgb(94,90,75);
	font-size: 9pt;
	padding: 5px;
}

td.barre_icones { border: rgb(255,255,255) solid 1px; height: 25px; }

td.cellule_icone_normale { background-color: transparent; border: rgb(238,234,221) solid 1px; }
td.cellule_icone_surbrillante { background-color: rgb(193,210,238); border: rgb(49,106,197) solid 1px; }

td.description
{
	background-color: rgb(251,249,238);
	border: rgb(174,163,141) none 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	padding: 2em;
	color: rgb(94,90,75);
	font-size: 9pt;
}

td.cellule_lien { text-align: left; }

/* Intitulé */
.intitule { color: rgb(111,105,87); font-size: 8pt; font-weight: bold; }
td.intitule { vertical-align: top; }

/* email */
a.email { font-size: 8pt; font-weight: normal; }
span.sans_email { cursor: help; font-style: italic; font-size: 8pt; font-weight: normal; }

/* arabe */
.rtl { font-size:150%; }
h1.rtl { font-size: 22pt; }
h2.rtl { font-size: 18pt; }
h3.rtl { font-size: 16pt; }
h4.rtl { font-size: 15pt; }
h5.rtl { font-size: 13pt; }
h6.rtl { font-size: 12pt; }
.rtl font { font-size:150%; }
