* {
	padding: 0;
	margin: 0;
	}

body { margin: 5px; }

dl {
	border: rgb(238,234,221) dotted 1px;
	margin-bottom: 3px;
	}

dt.replier, dt.deplier {
	background: rgb(238,234,221) url(inscription-fleche-droite.gif) no-repeat 5px 5px;
	cursor: pointer;
	line-height: 25px;
	padding-left: 25px;
	}

dt.deplier { background-image: url(inscription-fleche-bas.gif); }

dt:hover { background-color: rgb(244,242,233); }

dd.replier {
	margin-left: 50px;
	display: none;
	}

dd.deplier {
	margin-left: 50px;
	display: block;
	}

li {
	border: rgb(210,210,210) none 1px;
	border-bottom-style: dotted;
	margin: 2px;
	padding: 5px;
	list-style: none;
	}
