body { background-color: rgb(255,255,255); background-image: none; }
.intitule { border: rgb(207,195,163) none 1px; border-bottom-style: solid; padding-bottom: 3px; margin-bottom: 7px; font-size: 11pt; }
a { font-size: 10pt; font-weight: normal; }
