* {
	padding: 0;
	margin: 0;
	}

#liste_personnes {
	width: 100%;
	}

#liste_personnes th, #liste_personnes td {
	padding: 3px;
	}

#liste_personnes td {
	border: rgb(210,210,210) none 1px;
	border-bottom-style: dotted;
	}

.check {
	width: 1%;
	}

