body { margin: 0; padding: 0; }
td.dialog_logo { width: 147px; }
div.dialog_titre_principal { left: 155px; }
div.cellule_icone_surbrillante { background-color: rgb(251,249,238); border: rgb(202,195,177) solid 1px; padding-top: 3px; }
div.cellule_icone_surbrillante a { color: rgb(111,105,87); }
#tuteurs {
	background-color: rgb(111,105,87);
	border: rgb(0,0,0) none 1px;
	border-right-style: solid;
	color: rgb(255,255,255);
	float: left;
	padding-top: 3px; width: 146px; height: 25px;
	text-align: right; margin: 0px 5px 3px 0;
	}

