#consigne { background-color: rgb(251,249,238); width: 90%; margin: auto; padding: 10px; -moz-border-radius: 15px; }
#tableau_de_bord { background-image: url(../commun/icones/24x24/tableaubord.gif); background-repeat: no-repeat; margin-top: 15px; padding-left: 27px; padding-top: 3px; height: 24px; }
