* { font-size: 8pt; }
select { margin: 2px 1px; }
#idFiltres { text-align: center; }
.module { font-weight: bold; }
.rubrique { padding-left: 15px; }

option.titre { font-weight: bold; font-style: italic; }
option.element { padding-left: 15px; }
