.description {
background-color: rgb(251,249,238);
border: rgb(174,163,141) none 1px;
border-top-style: dashed;
border-bottom-style: dashed;
padding: 2em;
font-size: 8pt;
font-weight: normal;
}
a.forum { color: rgb(104,108,71); font-size: 9pt; font-weight: bold; }
a.unite { font-size: 10pt; font-weight: normal; color: rgb(104,108,71); }
.unite_passif { color: rgb(202,195,177); font-size: 9pt; font-weight: normal; }
.sans_formation { text-align: center; font-weight: normal; }
span.intitule_unite { color: rgb(102,98,94); font-size: 9pt; font-weight: bold; }
td.id_espace { width: 15%; }
hr { background-color: rgb(174,165,138); color: rgb(174,165,138); border-style: none; }
