body { background: rgb(251,249,238); background-image: none; }

td { background-color: rgb(251,249,238); }

.formation
{
	color: rgb(102,98,94);
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

.element_actif { padding: 3px; }

.cours
{
	color: rgb(102,98,94);
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
}

span.cours_ferme { color: rgb(202,195,177); font-size: 8pt; }

td.description, td.sans_description
{
	background-color: rgb(251,249,238);
	border-style: none;
	font-size: 8pt;
	font-weight: normal;
	text-align: right;
}

td.sans_description { color: rgb(212,203,187); }

#indice { position: absolute; left: 0; top: 0; visibility: hidden; }
