body {
	background-color: rgb(248,249,251);
	background-image: none;
	
/* Pour Internet Explorer >= 5.5 Changer les couleurs des barres de défilements */
	scrollbar-face-color: rgb(230,240,243);
	scrollbar-shadow-color: rgb(230,240,243);
	scrollbar-3dlight-color: rgb(248,249,251);
	scrollbar-arrow-color: rgb(255,255,255);
	scrollbar-track-color: rgb(248,249,251);
	scrollbar-highlight-color: rgb(248,249,251);
	scrollbar-darkshadow-color: rgb(248,249,251);
}
table.message { background-color: rgb(255,255,255); border: rgb(226,232,232) dashed 1px; }
table.message_selectionne { background-color: rgb(255,255,255); border: rgb(202,99,6) dashed 1px; }
td.message_infos_auteur_alias, td.message_infos_auteur, td.message_infos_date { background: rgb(237,243,243) url('liste_messages-fond.gif'); border: rgb(226,232,232) none 1px; border-bottom-style: solid; }
td.message_infos_auteur_alias { }
td.message_infos_auteur { font-size: 9pt; width: 99%; }
td.message_infos_date { color: rgb(65,68,100); font-size: 7pt; text-align: right; }
td.message_texte { padding: 20px; background-color: rgb(255,255,255); font-size: 8pt; font-weight: normal; }
.nb_messages_deposes_personne { font-size: 7pt; }
hr { color: rgb(222,230,230); height: 2px; background-color: rgb(222,230,230); border: none; }

