body { background-color: rgb(238,234,221); }

#contenaire { float: left; background-color: rgb(255,255,255); border: rgb(127,157,185) solid 1px; width: 99%; padding: 3px; min-width: 130px; }

.dossier_formations, .dossier_formations_surbrillance, .dossier_formations_selectionner {
	background-color: transparent; float: left; width: 120px; border: rgb(255,255,255) solid 1px; margin: 2px; min-height: 80px;
}
.icone { text-align: center; }
.titre { font-size: 8pt; text-align: center; }

div.dossier_formations_surbrillance { background-color: rgb(224,232,246); border: rgb(152,180,226) solid 1px; cursor: pointer; }
div.dossier_formations_selectionner { background-color: rgb(239,241,246); border: rgb(224,232,246) solid 1px; cursor: pointer; }
br { clear: both; }
#remarque { padding: 5px; background-color : rgb(250,246,245); border: rgb(202,195,177) solid 1px; }
#remarque p { font-size: 8pt; }
#remarque span { font-weight: bold; }
