/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

sujet
messages menu
forum export
dialogue sous_menu
dialogue important
forum sujets
sujet infos
sujet messages
------------------ */

/* -- sujet -- */
body.sujet {
background-color:#fff;
background-image:none;
font-size:8pt;
}

body.sujet td {
border:#c6dce1 none 1px;
border-bottom-style:dashed;
}

.sujet_numero_ligne {
color:#485ea5;
font-size:7pt;
font-weight:bold;
}

.sujet_titre {
font-size:8pt;
}

.sujet_nombre_messages {
color:#485ea5;
font-size:7pt;
white-space:nowrap;
}

.sujet_date_dernier_message {
color:#485ea5;
font-size:7pt;
}
/* ----- */

/* -- messages menu -- */
body.changer_message {
background-color: rgb(248,249,251);
background-image: none;
border-style: none;
}

td.nouveau_message_equipes {
text-align:center;
}

td.nouveau_message {
width:99%;
text-align:center;
}

td.modifier_message {
text-align:right;
}

td.supprimer_message {
text-align:right;
}

a.nouveau_message {
font-size:8pt;
font-weight:bold;
}

a.modifier_message {
}

a.supprimer_message {
}
/* ----- */

/* -- forum export -- */
form.export {
}

form.export *,form.export legend {
font-size:8pt;
}

form.export input {
margin-bottom:-2px;
}

form.export label {
margin-left:8px;
}
/* ----- */

/* -- dialogue sous_menu -- */
body.sous_menu {
background-color:#cac3b1;
border:#706957 none 1px;
border-top-style:solid;
}

body.sous_menu a {
font-size:7pt;
}
/* ----- */

/* -- dialogue important -- */
body.dialog_important {
background-color:#fdf9ee;
padding:5px;
}

body.dialog_important p.titre {
border:#aea58a none 1px;
border-bottom-style:dashed;
font-weight:bold;
}

body.dialog_important td.message {
font-size:10pt;
text-align:center;
}

body.dialog_important div.message {
text-align:center;
}

body.dialog_important td.question {
font-size:10pt;
font-weight:bold;
text-align:center;
}

body.dialog_important .largeur_page {
width:100%;
}

body.dialog_important td.intitule {
text-align:right;
vertical-align:middle;
}

body.dialog_important div.barre_de_progression {
background-color:#fff;
position:absolute;
top:0;
left:5px;
width:100%;
height:100%;
visibility:hidden;
}

body.dialog_important textarea.editeur_texte {
width:100%;
height:370px;
}
/* ----- */

/* -- forum sujets -- */
body.changer_sujet {
background-color:#fff;
background-image:none;
margin:0;
height:190px;
}

body.changer_sujet a {
font-size:7pt;
}

body.changer_sujet .intitule,body.changer_sujet select {
font-size:7pt;
}

td.menu_ajouter_sujet_pour_tous {
text-align:center;
}

td.menu_ajouter_sujet {
width:99%;
text-align:right;
}

td.menu_modifier_sujet {
width:1%;
}

td.menu_supprimer_sujet {
width:1%;
}
/* ----- */

/* -- sujet infos -- */
body.sujet_infos {
background:#f8f9fb url('../../themes/esprit/forum/sujet_infos-fond.gif') repeat-x;
/* Pour Internet Explorer >= 5.5 Changer les couleurs des barres de défilements */
scrollbar-face-color:#e6f0f3;
scrollbar-shadow-color:#e6f0f3;
scrollbar-3dlight-color:#f8f9fb;
scrollbar-arrow-color:#fff;
scrollbar-track-color:#f8f9fb;
scrollbar-highlight-color:#f8f9fb;
scrollbar-darkshadow-color:#f8f9fb;
}

table.sujet_infos {
}

td.sujet_titre {
color:#336;
font-size:11pt;
font-weight:bold;
}

td.sujet_infos {
font-size:7pt;
text-align:right;
}
/* ----- */

/* -- sujet messages -- */
body.message {
background-color:#f8f9fb;
background-image:none;
/* Pour Internet Explorer >= 5.5 Changer les couleurs des barres de défilements */
scrollbar-face-color:#e6f0f3;
scrollbar-shadow-color:#e6f0f3;
scrollbar-3dlight-color:#f8f9fb;
scrollbar-arrow-color:#fff;
scrollbar-track-color:#f8f9fb;
scrollbar-highlight-color:#f8f9fb;
scrollbar-darkshadow-color:#f8f9fb;
}

table.message {
background-color:#fff;
border:#e2e8e8 dashed 1px;
}

table.message_selectionne {
background-color:#fff;
border:#ca6306 dashed 1px;
}

td.message_infos_auteur_alias,td.message_infos_auteur,td.message_infos_date {
background:#edf3f3 url('../../esprit/forum/themesliste_messages-fond.gif');
border:#e2e8e8 none 1px;
border-bottom-style:solid;
}

td.message_infos_auteur_alias {
}

td.message_infos_auteur {
font-size:9pt;
width:99%;
}

td.message_infos_date {
color:#414464;
font-size:7pt;
text-align:right;
}

td.message_texte {
padding:20px;
background-color:#fff;
font-size:8pt;
font-weight:normal;
}

.nb_messages_deposes_personne {
font-size:7pt;
}

body.message hr {
color:#dee6e6;
height:2px;
background-color:#dee6e6;
border:none;
}
/* ----- */