/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

commun

zone menu-menu
zone menu-titre
zone principale

zone cours-menu
zone cours-titre

block
------------------ */
/* -- commun -- */
body.menumenu,body.coursmenu {
background:#fbf9ee none;
}

#logo {
position:relative;
background-image:url('../esprit/zone_menu-logo.gif');
width:225px;
height:116px;
}

#zone {
color:#fff;
font-size:13pt;
position:absolute;
left:0;
top:67px;
width:225px;
text-align:center;
}

#utilisateur {
position:absolute;
left:0;
top:50px;
width:100%;
text-align:right;
}

#utilisateur span {
color:#fff;
font-size:8pt;
}

#prenom {
text-transform:capitalize;
}

#nom {
text-transform:uppercase;
}

#titre {
font-weight:bold;
position:absolute;
left:235px;
top:70px;
}

#sous_titre {
font-size:8pt;
background:url('../esprit/indice.gif') no-repeat center left;
padding:0 0 2px 13px;
position:absolute;
left:250px;
top:95px;
}

#indice {
position:absolute;
left:0;
top:0;
visibility:hidden;
}
/* ----- */

/* -- zone menu-menu -- */
.formation, .cours {
color:#66625e;
font-size:9pt;
font-weight:bold;
}

.formation {
text-align:center;
}

.cours {
text-decoration:underline;
}

span.cours_ferme {
color:#cac3b1;
font-size:8pt;
}

td.description_menu,td.sans_description {
font-size:8pt;
text-align:right;
border-style:none;
}

td.sans_description {
color:#d4cbbb;
}
/* ----- */

/* -- zone menu-titre */
body.menutitre {
background:url('../esprit/zone_menu-fond.gif') repeat-x fixed top left;
margin:0;
}
/* ----- */

/* -- zone principale */
a.unite {
color:#686c47;
}

.unite_passif {
color:#cac3b1;
font-size:9pt;
}

.sans_formation {
text-align:center;
}

span.intitule_unite {
color:#66625e;
font-size:9pt;
}

td.id_espace {
width:15%;
}
.ligne_verticale {
border: 1px #CAC3B1;
border-style: none dotted none none;
}

hr {
background-color:#aea58a;
color:#aea58a;
border-style:none;
}

td.intitule_cours {
border:#aea58a none 1px;
border-bottom-style:dashed;
color:#aba18e;
font-size:17pt;
font-weight:bold;
}

td.description_cours {
background-color:#fbf9ee;
border:#aea38d none 1px;
border-top-style:dashed;
border-bottom-style:dashed;
padding:2em;
color:#5e5a4b;
font-size:9pt;
}
/* ----- */

/* -- block -- */
.bloc_menu_titre {
background:url("../esprit/menu-1x2.gif") repeat-x top center;
border:#970623 none 1px;
border-bottom-style:solid;
color:#4d4b47;
font-weight:bold;
font-size:9pt;
text-align:center;
padding:5px;
}

.bloc_menu_coins_haut {
background:url("../esprit/menu-1x2.gif") repeat-x top left;
}

.bloc_menu_coins_bas {
background:url("../esprit/menu-3x2.gif") repeat-x top left;
}
/* ----- */

/* -- zone cours-menu -- */
td.bloque {
background:url("../esprit/menu-1x2.gif") repeat-x top center;
border:#970623 none 2px;
border-bottom-style:dotted;
}

.bloque {
color:#000;
font-size:11pt;
font-weight:bold;
text-align:left;
padding:5px;
}

.element_actif,.element_equipe {
color:#000;
background-color:#fbf9ee;
text-align:left;
padding:3px;
}

.element_equipe {
text-align:right;
}
/* ----- */

/* -- zone cours-titre -- */
body.courstitre {
background:transparent url('../esprit/zone_cours-fond.gif') repeat-x fixed top left;
margin:0;
}

#titre span {
color:#000;
font-size:8pt;
white-space:nowrap;
}

span#formation {
font-weight:bold;
}
/* ----- */