@import url(esprit-base.css);

body { background-color: white; }
table { margin: 0.8em auto; width: 95%; }
th { padding: 0.3em; text-align: right; width: 10em; }
table { border-collapse: separate; }
table, th, td { border: none; }

h3
{
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
	padding: 0.3em;
}


/*** onglets et cadres rattachés ***/
ul.onglets
{
	margin: 0.5em 0 -1px 3%; /* modifier marges par défaut des ul et -1 pour le faire descendre devant le panneau */
	overflow: hidden; /* force l'élément à contenir entièrement les flottants */
	padding: 0; /* annuler padding par défaut des ul */
	position: relative; /* IE: onglets au-dessus du panneau et non derrière */
}

ul.onglets li
{
	background: white url(../images/onglet-gauche.gif) no-repeat top left;
	float: left;
	list-style-type: none;
	margin-right: 2px;
	padding-left: 7px; /* taille minimum = largeur du bord gauche de l'onglet */
}

ul.onglets li a
{
	background: url(../images/onglet-droit.gif) no-repeat top right;
	display: block; /* pour que les padding/height/bg/etc. fonctionnent */
	padding-right: 7px; /* taille minimum = largeur du bord droit de l'onglet */
}

#cadreOnglets
{
	border: 1px solid rgb(222,230,230);
	margin: 0 auto;
	padding: 0 0.5em;
	width: 95%;
}

/*
Parties des onglets modifiées en fonction de l'onglet sélectionné ou pas.
   
la somme des valeurs pour les border/margin/padding verticaux des "li"/"a"
"non sélectionnés" doit égaler la somme des paddings top/bottom du "a" 
"sélectionné", sinon un des onglets sera décalé par rapport à l'autre
(pour le moment, c'est 8: 1 + 5 + 1 + 1 = 4 + 4)
*/
/* non sélectionné */
ul.onglets li
{
	border-bottom: 1px solid rgb(222,230,230);
	margin-top: 5px;
}
ul.onglets li a
{
	padding-top: 1px; /* paddings modifiés séparément car right déjà défini */
	padding-bottom: 1px;
}
/* sélectionné */
ul.onglets li.actif
{
	margin-top: 0;
	border-bottom: none;
}
ul.onglets li.actif a
{
	font-weight: bold;
	padding-top: 4px; /* paddings modifiés séparément car right déjà défini */
	padding-bottom: 4px;
}


/*** garder les zones/cadres de l'affichage à une taille relative, et toujours 
     visibles, avec des barres de défilement pour chaque zone si nécessaire ***/
/* tous les blocs parents doivent avoir une taille définie en hauteur */
html, body, #contenuPrincipal { height: 99%; }
#cadreOnglets { height: 90%; }
#cadreOnglets form { height: 100%; }
/* ensuite, on peut définir un taille en % pour chaque zone */
#cadreCopier, #cadreColler { height: 58%; }
#cadrePressePapiers { height: 38%; }
.cadreScrollable { height: 75%; overflow: auto; }
#cadrePressePapiers .cadreScrollable { height: 70%; } /* 75 trop gd pr pp */
/* ce qui dépasse est caché pour certains panneaux (si fenêtre trop petite) */
#cadreCopier, #cadreColler, #cadrePressePapiers { overflow: hidden; }


/*** caractéristiques générales des différentes zones ***/
/* titres, liens par défaut */
#cadreCopier h3
{
	background: url(../images/copier_pp.gif) no-repeat center left;
	padding-left: 32px;
}
#ongletCopier a, #cadreCopier h3, #copier { color: rgb(72,94,165); }
h3 select { color: black; font-weight: bold; width: 50%; }

#cadreColler h3
{
	background: url(../images/coller_pp.gif) no-repeat center left;
	padding-left: 32px;
}
#ongletColler a, #cadreColler h3, #coller { color: rgb(71,130,68); }

#cadrePressePapiers h3
{
	background: url(../images/presse_papiers.gif) no-repeat center left;
	padding-left: 19px;
	color: rgb(174,63,5);
}

/* fond, bordures */
#cadreCopier, #cadreColler, #cadrePressePapiers, .cadreScrollable
{
	border: 1px solid rgb(222,230,230);
}
#cadreCopier, #cadreColler, #cadrePressePapiers
{
	margin-top: 0.5em;
	padding: 0 1em;
}
#cadreCopier, #cadreColler { background: rgb(250,246,231); }
#cadrePressePapiers { background: rgb(248,248,248); }
.cadreScrollable { background: rgb(255,255,255); }

#cadreCopier td, #cadreColler td { border-bottom: 1px dashed rgb(180,180,180); }
#cadrePressePapiers td { border-bottom: 1px solid rgb(180,180,180); }

/* boutons/liens/renvois-notes bas de page */
input[type=submit], input[type=button]
{
	margin: 0;
	padding: 0.25em 0 0.25em 1em;
	overflow: visible; /* hack débile pour qu'ie 6/7 accepte le padding */
}
input.lien, input.lienDesactive { font-weight: bold; }
#supprimerColler, #supprimerElemPp, #viderPp
{
	color: rgb(125,63,65);
}

.renvoi { color: rgb(99,117,178); }
p.renvoi { margin: 3px 0 0; padding: 0; }
#cadreCopier .renvoi { visibility: hidden; } /* renvoi invisible ds Copier */

/*** arborescence formation: différenciation des niveaux ***/
.cadreScrollable ul { padding: 0 0 0 20px; }
.cadreScrollable li { list-style-type: none; }

/* formation */
.cadreScrollable li strong, .niv1 strong { color: black; font-style: italic; }
.cadreScrollable li span, .niv1 span
{
	color: rgb(93,96,65);
	display: block;
	font-weight: bold;
	padding: 5px 0;
}
	/* module/(par)cours */
	.cadreScrollable li li em, .niv2 em { color: rgb(227,170,68); padding: 0 0.5em; }
	.cadreScrollable li li strong, .niv2 strong { color: rgb(69,69,66); font-style: normal; }
	.cadreScrollable li li span, .niv2 span
	{
		background-color: rgb(238,234,221);
		border-bottom: 1px solid rgb(219,211,197);
		font-weight: normal;
	}
		/* rubrique/unité */
		.cadreScrollable li li li em, .niv3 em { color: rgb(163,31,58); }
		.cadreScrollable li li li strong, .niv3 strong { color: rgb(108,108,108); }
		.cadreScrollable li li li span, .niv3 span
		{
			background-color: transparent;
			border-bottom: 1px dashed rgb(180,180,180);
			color: rgb(126,129,107);
		}
			/* activité/groupe d'actions */
			.cadreScrollable li li li li em, .niv5 em { color: rgb(160,160,160); }
			.cadreScrollable li li li li span, .niv5 span { color: rgb(126,129,107); }
				/* sous-activité/action */
				.cadreScrollable li li li li li em, .niv6 em { color: rgb(171,197,82); }
				.cadreScrollable li li li li li strong, .niv6 strong { color: black; }
				.cadreScrollable li li li li span, .niv6 span { color: rgb(64,68,35); }

.niv1 span, .niv2 span, .niv3 span, .niv5 span, .niv6 span
{
	background-color: transparent;
	border-bottom: 1px solid rgb(180,180,180);
	padding-left: 0;
}
.niv1 em, .niv2 em, .niv3 em, .niv5 em, .niv6 em { float: left; width: 2em; }