/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

commun

archives

tchatche
------------------ */

/* -- commun -- */
td.dialog_logo {
width:211px;
}

div.dialog_titre_principal {
left:220px;
}

a.dialog_menu {
background-color:#e7e1d4;
color:#6f6957;
border:#cac3b1 solid 1px;
padding:2px;
}

.intitule {
text-align:right;
}
/* ----- */

/* -- archives -- */
td.dialog_logo {
width:211px;
}

div.dialog_titre_principal {
left:221px;
}
/* idem: td.cellule_sous_titre (globals.css) */
td.titre_informations  {
background:#aebabb none;
color:#FFF;
font-weight:bold;
border:#a2aaaa none 1px;
border-top-style:solid;
border-bottom-style:solid;
padding:1px;
text-align:right;
}
/* ----- */

/* -- tchatche -- */
a.acceder_salon {
color:#7f8666;
font-size:9pt;
font-weight:bold;
}

.nom_salon {
color:#222;
font-size:12pt;
font-weight:bold;
}

.mode_salon {
color:#416e96;
font-size:9pt;
text-align:right;
}

td.lien_salon {
background-color:#fff;
}

td.acceder {
background-color:#fff;
text-align:left;
}

.archives {
font-size:8pt;
text-align:right;
}
/* ----- */