/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

admin liste
ajouter formation
concept
sousactive inv

------------------ */
/* -- admin liste -- */
a.Formation,.Formation {
font-size:11pt;
font-weight:bold;
}

.Cours {
font-weight:bold;
}

#id_editer {
position:absolute;
left:0;
top:0;
width:16px;
height:16px;
visibility:hidden;
}

hr.module {
border:#f2f2f2 solid 1px;
color:#f2f2f2;
}

div.formation {
padding:0;
white-space:nowrap;
}

div.module {
padding:10px 0 0 20px;
white-space:nowrap;
}

div.rubrique {
padding:5px 0 5px 20px;
white-space:nowrap;
}

div.activite, div.sous_activite {
padding-top:5px;
padding-left:20px;
white-space:nowrap;
}
/* ----- */

/* -- ajouter formation -- */
.titre_ajout {
font-weight:bold;
text-align:left;
}

td.dialog_logo_ajout {
width:165px;
}

div.dialog_titre_principal_ajout {
left:175px;
}

div.dialog_sous_titre_ajout {
visibility:hidden;
}

textarea[name=formation_description] {
width: 370px;
height: 70px;
}
input[name=formation_nom] { width: 370px; }
/* ----- */

/* -- concept -- */
body.econcept_modif {
background-color:#e7e1d4;
scrollbar-face-color:#fbf9ee;
scrollbar-highlight-color:#e7e1d4;
scrollbar-shadow-color:#e7e1d4;
scrollbar-3dlight-color:#e7e1d4;
scrollbar-arrow-color:#e7e1d4;
scrollbar-track-color:#e7e1d4;
scrollbar-darkshadow-color:#e7e1d4;
}

a {
font-weight:normal;
}

option.selected { background-color: #FFFFCC; }

td.dialog_logo {
text-align:right;
width:210px;
}

div.dialog_titre_principal {
left:220px;
}

div.dialog_sous_titre {
left:250px;
top:47px;
height:20px;
color:#141414;
font-weight:bold;
text-align:right;
visibility:hidden;
}

td.admin_modif_menu, td.admin_modif_outils{
border:#000 solid 1px;
border-left-style:none;
border-right-style:none;
}

td.admin_modif_menu {
background-color:#afa58a;
text-align:center;
}

td.admin_modif_outils, .admin_modif_menu {
background-color:#cac3b1;
}

div.admin_modif_nom_element {
font-weight:bold;
text-align:left;
}

.admin_modif_menu {
border:#000 none 1px;
border-top-style:solid;
text-align:center;
}


#id_titre {
position:relative;
font-size:11pt;
font-weight:normal;
}

/* Simple menu: style 1 */
td.concept_menu_fond {
background-color:#6f6957;
}

td.concept_menu_titre_principal {
background-color:#6f6957;
color:#fff;
font-weight:bold;
text-align:center;
}

td.concept_menu_sous_titre,td.concept_menu_sous_titre_2 {
background-color:#e7e1d4;
text-align:center;
}

td.concept_menu {
background-color:#cac3b1;
text-align:center;
}

/* Simple menu: style 2 */
td.concept_menu_fond_2 {
background-color:#b2afa6;
}

td.concept_menu_titre_principal_2 {
background-color:#b2afa6;
color:#f0f0f0;
font-weight:bold;
text-align:center;
}

td.concept_menu_2 {
background-color:#fbf9ee;
text-align:center;
}

.intitule {
text-align:right;
}

.lien_passif {
color:#aea38d;
}

.Afficher {
display:block;
float:top;
visibility:visible;
}

.Cacher {
display:none;
float:top;
visibility:hidden;
}
/* ----- */

/* -- sousactive inv -- */
td.selection {
width:1%;
}

.nom_grise {
color:#969696;
}
/* ----- */