/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

inscription
dossier formations titre
dossier formations events
dossier formations liste
dossier formation
------------------ */
span.formation_trouvee {
background-color:#0f0;
}

/* -- inscription -- */
.intitule {
border:#cfc3a3 none 1px;
border-bottom-style:solid;
padding-bottom:3px;
margin-bottom:7px;
font-size:11pt;
}

body.inscription a {
font-size:10pt;
font-weight:normal;
}
/* ----- */

/* -- dossier formation titre -- */
td.dialog_logo {
width:180px;
}

div.dialog_titre_principal {
left:185px;
}
/* ----- */

/* -- dossier formations events -- */
body.formation_event input,body.inscription_event select,body.inscription_event .label {
display:block;
float:left;
margin-bottom:5px;
text-align:left;
}

body.formation_event .label {
margin-left:5px;
font-size:8pt;
font-weight:bold;
text-align:right;
width:120px;
padding:2px 10px 0 0;
}

body.formation_event br {
clear:left;
}

#idDossierNom {
width:260px;
}

#idDossierNumeroOrdre {
}

#suppression {
text-align:center;
}

#suppression_confirmer {
font-weight:bold;
}
/* ----- */

/* -- dossier formations liste -- */
body.formation_liste {
background-color:#f0ebe0;
}

body.formation_liste p {
font-size:8pt;
}

#liste {
margin:5px;
padding:2px;
border:#7f9db9 solid 1px;
}

.dossier {
background-color:#fff;
text-align:center;
border:#fff solid 1px;
}

.dossier_surbrillance {
background-color:#e0e8f6;
border:#98b4e2 solid 1px;
cursor:pointer;
text-align:center;
}

.dossier_selectionner {
background-color:#eff1f6;
border:#e0e8f6 solid 1px;
cursor:pointer;
text-align:center;
}

span.titre {
margin-bottom:2px;
font-size:8pt;
}
/* ----- */

/* -- dossier formation -- */
body.formation {
margin:10px;
background-color:#eeeadd;
}

body.formation input {
margin:0;
}

#titre {
background-color:#316ac5;
border:#1f527e solid 1px;
color:#fff;
margin-bottom:10px;
padding:5px;
font-size:10pt;
}

#titre span {
color:#fff;
font-size:8pt;
}

body.formation tr {
background-color:#fff;
}

.liste_formations {
border:#7a97b2 solid 1px;
}

.liste_formations_sauver {
border:#882525 solid 1px;
}
/* ----- */