/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

mail general
destinataires liste
------------------ */

/* -- mail general -- */
#idChoisirDansListe {
position:relative;
}
/* ----- */

/* -- destinataires liste -- */
.destinataires_liste,.destinataires_liste span,.destinataires_liste div,.destinataires_liste td {
font-size:8pt;
}

select[name=expediteurCourriel],input[name=sujetCourriel] {
font-size:10pt;
width:100%;
}

.destinataires_liste table {
background-color:#c4cadc;
}

span.destinataire_mail {
color:#8c8c8c;
}

td.courriel_conforme,td.courriel_non_conforme {
background-color:#fff;
width:99%;
}
/* ----- */