<?php

/*
** Fichier ................: confic.inc.dist
** Description ............:
** Date de création .......:
** Dernière modification ..: 22/02/2005
** Auteurs ................: Filippo PORCO <filippo.porco@umh.ac.be>
**
** Unité de Technologie de l'Education
** 18, Place du Parc
** 7000 MONS
*/

// {{{ Base de données
$g_sNomBdd = "base_de_donnees";							// Nom de la base de données
$g_sNomServeur = "localhost";							// Nom du serveur
$g_sNomProprietaire = "utilisateur";					// Nom du propriétaire de la base de données MySQL
$g_sMotDePasse = "mot_de_passe";						// Mot de passe de la base de données MySQL
// }}}

// {{{ Informations BdD nécessaires au transfert de formations entre deux plateformes
$g_sNomServeurTransfert = "localhost";
$g_sNomProprietaireTransfert = "root";
$g_sMotDePasseTransfert = "mot_de_passe_root";
// }}}

// {{{ Cookie
$g_sNomCookie = "{$g_sNomProprietaire}_{$g_sNomBdd}";	// Nom du cookie
// }}}

// {{{ Adresse courrielle
//     Cette adresse courriel sert, dans le cas d'un problème ou autre
//     (forum), à envoyer un message aux administrateurs de la plate-forme
define("GLOBAL_ESPRIT_ADRESSE_COURRIEL_ADMIN","ute@umh.ac.be");
// }}}

// {{{ INTERNATIONALISATION
define("ACTIVER_RECREATION_FICHIER_I18N",FALSE);		// Créer ou pas le fichier de définitions pour l'internationalisation
define("I18N","i18n_fr");								// Nom de la table contenant toutes les traductions de la plate-forme
// }}}

// {{{ Thèmes
define("THEME","esprit");
// }}}

?>
