/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

barre outils
------------------ */

/* -- barre outils -- */
body {
background-color:#eeeadd;
margin:0;
}

input,select {
padding:0;
}

.cellule_icone_normale,.cellule_icone_surbrillante {
float:left;
width:23px;
height:20px;
margin:1px;
text-align:center;
}

.cellule_separateur {
float:left;
margin:3px 0 0;
}

.cellule_icone_normale {
background-color:transparent;
border:#ded8ca solid 1px;
}

.cellule_icone_surbrillante {
background-color:#e0e8f6;
border:#98b4e2 solid 1px;
}

.cellule_intitule {
background-color:#6f6957;
color:#FFF;
text-align:center;
float:left;
font-size:8pt;
font-weight:bold;
margin:0 2px 0 0;
padding:5px;
height:23px;
width:125px;
border:#000 none 1px;
border-right-style:solid;
}
/* ----- */