body
{
	background-color: rgb(231,225,212);
}
#contenu
{
	padding-top: 25px;
	text-align: center;
}
#barreaction
{
	background-color: rgb(174,165,138);
	border-top: black solid 1px;
	bottom: 0;
	height: 22px;
	position: absolute;
	width: 100%;
}
#barreaction a:link, #barreaction a:visited, #barreaction a:hover
{
	color: rgb(255,255,255);
	font-size: 0.85em;
	font-weight: bold;
}
