html
{
	font-size: 100%;
}
body
{
	background-color: rgb(255,255,255);
	color: rgb(34,34,34);
	font-family: Verdana, Tahoma, Arial, Bitstream Vera Sans, Time;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	scrollbar-face-color: rgb(231,225,212);
	scrollbar-highlight-color: rgb(251,249,238);
	scrollbar-shadow-color: rgb(251,249,238);
	scrollbar-3dlight-color: rgb(251,249,238);
	scrollbar-arrow-color: rgb(174,166,138);
	scrollbar-track-color: rgb(251,249,238);
	scrollbar-darkshadow-color: rgb(251,249,238);
}
body.menumodifbas
{
	background-color: rgb(202,195,177);
	border-top: black solid 1px;
	padding: 2px 7px;
	text-align: right;
}
a:link, a:visited, a:active
{
    color : rgb(63,67,34);
    text-decoration : none;
}
a:hover
{
    color : rgb(63,67,34);
    text-decoration : underline;
}
form
{
	margin: 0;
	padding: 0;
}
form.formFormulaire
{
	background-color: rgb(249,251,251);
	border: rgb(220,230,230) dotted 1px;
	line-height: 1.2em;
	padding: 7px;
	-moz-border-radius: 5px;
}
fieldset
{
	  border: rgb(208,208,191) solid 1px;
	  color: rgb(111,105,87);
	  margin: 8px 1px;
}
label
{
	  color: rgb(111,105,87);
}
legend
{
	color: rgb(153,73,89);
	font-weight: bold;
}
#entete
{
	background-color: rgb(174,165,138);
	border-top: black solid 1px;
	border-bottom: black solid 1px;
	height: 25px;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
* html #entete
{
	position: absolute;
}
#entete h3
{
	font-size: 0.9em;
	font-weight: bold;
	margin: 0;
	padding: 5px;
}
#titrepagevierge
{
	margin: 0 auto;
	padding: 10% 7px 7px 7px;
	text-align: center;
	width: 350px;
}
#titrepagevierge img
{
	border: 0;
	display: block;
	margin: 2px auto;
	padding-bottom: 5px;
}
#ute
{
	display: block;
	margin: 2px auto;
	padding-bottom: 5px;
	padding-top: 25px;
}
#valider
{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
#fermer
{
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
