body
{
	background-color: rgb(251,249,238);
	background-image: none;
	color: rgb(34,34,34);
	font-family: Verdana, Tahoma, Arial, Bitstream Vera Sans, Time;
	font-size: 9pt;
	scrollbar-face-color: rgb(231,225,212);
	scrollbar-highlight-color: rgb(251,249,238);
	scrollbar-shadow-color: rgb(251,249,238);
	scrollbar-3dlight-color: rgb(251,249,238);
	scrollbar-arrow-color: rgb(174,166,138);
	scrollbar-track-color: rgb(251,249,238);
	scrollbar-darkshadow-color: rgb(251,249,238);
}

body.liste
{
	background-color: rgb(255,255,255);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: repeat-y;	
}

body.modif
{
	background-color: rgb(231,225,212);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

body.popup
{
	background-color: rgb(231,225,212);
	margin: 0;
}

body.menumodif
{
	background-color: rgb(174,165,138);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

body.menumodifbas
{
	background-color: rgb(202,195,177);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

body.formsup
{	
	background-color: rgb(255,255,255);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-attachment: fixed;
	background-repeat: repeat-y;
}


.listeForm
{
	  width:100%;
	  border:1px solid black; /*Cette propriété n'a d'effet que sous netscape*/
}

fieldset
{
	  /*Cette fonction n'a des effet que sous netscape*/
	  border:1px solid rgb(208,208,191);
	  color:rgb(111,105,87);  
}

legend
{
	font-weight: bold;
	color: rgb(111,105,87);
}
form
{
	padding: 0;
	margin: 0;
}
form.formFormulaire
{
	background-color: rgb(249,251,251);
	border: 1px dashed rgb(220,230,230);
	
	line-height: 11.5pt;
	padding: 20px;
}
a:link, a:visited, a:active
{
    color : rgb(63,67,34) ;
    text-decoration : none ;
}
a:hover
{
    color : rgb(63,67,34) ;
    text-decoration : underline ;
}
#titrepagevierge
{
	text-align:center;
	width: 350px;
	margin: 0 auto;
	margin-top: 7%;
	padding: 7px;
	/*border: solid 1px black;*/
}
#titrepagevierge img
{
	display: block;
	margin: 2px auto;
	padding-bottom: 5px;
	border: 0;
}
#ute
{
	display: block;
	margin: 2px auto;
	padding-top: 25px;
	padding-bottom: 5px;
}
#menu_element
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 19px;
	padding: 4px 3px 0 7px;
}
.element_desactive
{
	color: red;
}
#def_axes
{
	position: absolute;
	top: 5px;
	right: 7px;
}
#contenu
{
	text-align: center;
	padding-top: 25px;
}
#barreaction
{
	height: 22px;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid black;
	background-color: rgb(202,195,177);
}
#valider
{
	float: left;
	margin: 4px 10px;
}
#fermer
{
	float:right;
	margin: 4px 10px;
}
