body
{
	background-attachment: fixed;
	background-color: rgb(231,225,212);
	background-image: url('../pixel_noir.gif');
	background-position: top left;
	background-repeat: repeat-x;
}
.feedback
{
	margin : 10px 0 10px 93px;
}
.poidsaxe
{
	margin: 5px 0;
	padding: 1px 1px 1px 100px;
}
.sepproprep
{
	background-color: rgb(208,208,191);
	border: 0;
	color: rgb(208,208,191);
	height: 1px;
	margin: 10px 0 20px 0;
	width: 99%;
}
#bloczonerep
{
	background-color: rgb(241,235,222);
	border: rgb(188,188,171) solid 1px;
	color: rgb(153,73,89);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
#conteneur
{
	padding: 33px 5px 0 5px;
}
#zoneenonce, #zonempsep, #zonereponse, #zoneproposition
{
	padding: 4px 4px 4px 14px;
	margin: 15px 0;
}
#zoneenonce label
{
	vertical-align: top;
}
#zonereponse ul, #zoneproposition ul
{
	margin: 0;
	padding: 0;
}
#zoneenonce ul, #zonempsep ul, #alignrep
{
	display: block;
	margin: 2px;
	text-align: right;
}
#zonereponse li, #zoneproposition li
{
	list-style-image: none;
	list-style-type: none;
	margin: 0 0 7px 0;
	padding: 0;
}
#zoneenonce li, #zonempsep li, #alignrep li
{
	display: inline;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 3px 7px;
}
