body
{
	padding: 45px 0 0 0;
}
a:link, a:active, a:visited, a:hover
{
	color: rgb(255,255,255);
	font-size: 0.85em;
	font-weight: bold;
}
input, select
{
	margin: 0 5px;
}
.feedback
{
	background-color: rgb(248,244,231);
	border: 1px solid rgb(213,204,189);
	display: none;
	height: 3.5em;
	margin: 7px 0;
	overflow: auto;
	padding: 0;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
}
.feedback p, .feedback_titre p
{
	margin: 3px;
}
.feedback_titre
{
	background-color: rgb(238,234,221);
	border: 1px solid rgb(213,204,189);
	border-right: none;
	display: none;
	float: left;
	height: 3.5em;
	margin: 7px 0 0 0;
	padding: 0 3px 0 0;
	text-align: center;
	width: 100px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
}
* html .feedback_titre
{
	margin-right: -3px;
}
.separhori
{
	border-top:  rgb(213,204,189) 1px solid;
}
.separvert
{
	border-right:  rgb(213,204,189) 1px solid;
}
.statut_ael
{
	color: rgb(255,151,50);
}
.titre
{
	font-size: 1.4em; 
	font-weight: bold;
}
#barremenu
{
	background-color: rgb(174,165,138);
	border-top: rgb(0,0,0) solid 1px;
	bottom: 0;
	margin: 0;
	padding: 4px 0;
	position: fixed;
	text-align: center;
	position: fixed;
	width: 100%;
}
* html #barremenu
{
	position: static;
}
#entete h3
{
	color: rgb(255,255,255);
}
#Etat
{
	background-color: rgb(250,250,250);
	border: rgb(222,230,230) 1px solid;
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
	width: 33%;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}
#Eval
{
	background-color: rgb(250,250,250);
	border: rgb(222,230,230) 1px solid;
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
	width: 63%;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
}
#Eval h3, #Etat h3
{
	background-color: rgb(238,234,221);
	border-bottom: rgb(213,204,189) 1px solid;
	color: rgb(111,105,87);
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 3px;
}
#Eval p, #Etat p
{
	margin: 3px;
	padding: 0;
}
#fermer
{
	margin: 0 10px;
}
#tab_etat
{
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
}
#tab_etat td
{
	margin: 0;
	padding: 5px;
}
#tab_etat tr
{
	margin: 0;
	padding: 0;
}
