/* ------------------
INDEX (copier/coller et recherche permet d'arriver à l'endroit désiré)

copie element
changer dossier
traces
------------------ */

/* -- copie element -- */
body.copie_element {
color:#000;
font:normal 13px Verdana,Tahoma,Arial,Times;
text-decoration:none;
margin:3px;
padding:0;
}

body.copie_element a:link, body.copie_element a:visited {
color:#05054b;
font-size:8pt;
font-weight:bold;
text-decoration:none;
}

body.copie_element a:hover {
color:#3232af;
font-size:8pt;
text-decoration:underline;
font-weight:bold;
}

body.copie_element #navmenu {
position:absolute;
bottom:0;
left:0;
background:#aea58a url('../../themes/esprit/dialog-menu-fond.gif');
height:23px;
width:100%;
padding:0;
}

body.copie_element #navmenu a {
color:#fafafa;
}

body.copie_element fieldset {
margin:10px;
width:400px;
}

body.copie_element #fermer,body.copie_element #annuler {
float:left;
margin:5px 5px 0;
}

body.copie_element #suivant,body.copie_element #valider,body.copie_element #menu {
float:right;
margin:5px 5px 0;
}

body.copie_element h4 {
margin:3px;
font-size:14px;
}
/* ----- */

/* -- changer dossier -- */
body.changer_dossier {
background-color:#eeeadd;
}

#contenaire {
float:left;
background-color:#fff;
border:#7f9db9 solid 1px;
width:99%;
padding:3px;
min-width:130px;
}

.dossier_formations,.dossier_formations_surbrillance,.dossier_formations_selectionner {
background-color:transparent;
float:left;
width:120px;
border:#fff solid 1px;
margin:2px;
min-height:80px;
}

.icone {
text-align:center;
}

.titre {
font-size:8pt;
text-align:center;
}

div.dossier_formations_surbrillance {
background-color:#e0e8f6;
border:#98b4e2 solid 1px;
cursor:pointer;
}

div.dossier_formations_selectionner {
background-color:#eff1f6;
border:#e0e8f6 solid 1px;
cursor:pointer;
}

body.changer_dossier br {
clear:both;
}

#remarque {
padding:5px;
background-color:#faf6f5;
border:#cac3b1 solid 1px;
}

#remarque p {
font-size:8pt;
}

#remarque span {
font-weight:bold;
}
/* ----- */

/* -- traces -- */
td.numero_ligne {
text-align:right;
}

td.duree_totale {
border: #000000 none 1px;
border-top-style: solid;
}
/* ----- */